body{
	font-size: 12px;
	background-color:#F5F5F5; 
}


header{
	width:100%;
	height: 13.77rem;
	background-image: url('../img/screen.png'),linear-gradient(#3FBEFF,#93F0FB); 
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom;

}
@font-face {
  font-family: 'iconfont';  /* project id 545889 */
  src: url('https://at.alicdn.com/t/font_545889_wue0or7c3iu7syvi.eot');
  src: url('https://at.alicdn.com/t/font_545889_wue0or7c3iu7syvi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_545889_wue0or7c3iu7syvi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_545889_wue0or7c3iu7syvi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_545889_wue0or7c3iu7syvi.svg#iconfont') format('svg');
}
.dingwei{
	font-family: iconfont;
}
.now_city_box{
	font-size: 0.4rem;
	color: #fff;
	text-align: center;
	line-height: 1.6rem; /* 文字水平的位置 */
}
.now_air_box{
	width: 2.1rem;
	height: 1.26rem;
	background-color: #FFCA8D;
	border-radius: .2rem;
	margin-left: 0.27rem;
	padding-top: 0.2rem;
}
.now_air_box span{
	display: block;/* 设置垂直排列 */
	text-align: center;
	color: #fff;
	font-size: 0.29rem;
}
.now_temp {
	font-size: 1.3rem;
	color:#fff;
	text-align: center;
	font-weight: 400;
	margin-top: 0.51rem;
	padding-left: 0.40rem;
}
.now_weather {
	font-size: 0.58rem;
	text-align: center;
	color: #fff; 
	margin-top: 0.49rem;

}
.now_wind_box {
	font-size: 0.36rem;
	text-align: center;
	color: #fff;
	margin-top: 0.34rem;
}
.tishi {
	font-size: 0.36rem;
	text-align: center;
	color: #fff;
	margin-top: 1.34rem;
}
.next{
	width: 100%;
	height: 2.94rem;
	background-color: white;
	border-bottom: 0.03rem solid #E4E4E4;
	padding: .72rem  0; 
}
.next_box{
	width: 50%;
	height: 100%;
	float: left;/* 依次横排，靠左排 */
	background-color: white;
	padding: 0 0.58rem;
}
.next_box1{
	border-right: 0.03rem solid #E4E4E4;
}
 .next_date,.today_weather,.tomorrow_weather{  /*群组选择器 */
	float: left;
}
.next_temp,.tody_img,.tomorrow_img{
	float: right;
}
.next_top,.next_bottom{
	overflow: hidden;
}
.tody_img,.tomorrow_img{
	width: .78rem;
	height: .78rem;
}
.next_bottom{
	margin-top: 0.36rem;
}
.hours{
	width: 100%;
	height: 3.9rem;
	background-color: white;
	margin-top: 0.27rem;
	border-bottom:0.03rem solid #E4E4E4; 
	border-top: 0.03rem solid #E4E4E4; 
	overflow: hidden;
	padding:0.88rem 0; 
}
.hours_content{
	height: 100%;
	/* background-color: pink; */
	display: flex;
	overflow-x: auto;
}
.hours_content li{
	width: 2rem;
	height: 100%;
	padding: 0 .6rem;
	/* background-color: yellow; */
	display: flex;/*弹性布局 */
	/* flex-direction: column; */
	flex-wrap: wrap;
	align-content: space-between;/* 两端对齐 */
	justify-content: center;
	flex-shrink: 0;
}
.hours_img{
	width: 1rem;
	height: 1rem;
}
.weeks{
	width: 100%;
	height: 11.16rem;
	background-color: white;
	margin-top: 0.27rem;
	border-bottom:0.03rem solid #E4E4E4; 
	border-top: 0.03rem solid #E4E4E4; 
	overflow: hidden;
	padding:0.88rem 0; 
}
.weeks_content{
	height: 100%;
	/* background-color: pink; */
	display: flex;
	overflow-x: auto;/* scroll滚动 */
}
.weeks_content li{
	width: 2rem;
	height: 100%;
	/* padding: 0 .6rem; */
	/* background-color: yellow; */
	display: flex;/*弹性布局 */
	/* flex-direction: column; */
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
	flex-shrink: 0;
}
.weeks_img{
	width: 1rem;
	height: 1rem;
}
/* 调整li格式 ，固定宽度*/
.weeks_content li span{
	width: 2rem;
	text-align: center;
	display: block /*span标签固定宽度时要用display，h标签直接固定长度即可无需display; */
}
/*.weeks_weather,.weeks_temp_max,.weeks_temp_min,.weeks_windji{
	padding: 0 .5rem;
 } */
.citys{
	width: 100vw;
	height: 100vh;
	background-color: #F6F6F6;
	position: fixed;/* 重叠布局 */
	top: 0;
	left: 0;
	display: none;
}
.search_box{
	width: 100%;
	height: 1.28rem;
	background-color: white;
	padding: 0 0.3rem;
	/* 弹性布局 */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* 单行垂直居中 */
	align-items: center; 
}
.search{
	width: 9rem;
	height: .87rem;
	background-color: #e2e2e2;
	border: 0;
	padding-left: 0.3rem;
	border-radius: 0.2rem; 
}
.confirm{
	font-size: 0.5rem;
	color: #76a9ff;
}
.citys_box{
	width: 100%;
	height: 90vh;
	overflow-y: auto;
	padding:0 0.3rem;  
}
.citys_box section{
	overflow: hidden;
}

.citys_title1,.citys_title{
	font-size: 0.5rem;
	color: #999;
	/* 行高 */
	line-height: 0.8rem;
}
.citys_list li{
	width: 2.93rem;
	height: 0.84rem;
	background-color: #fff;
	font-size: .44rem;
	text-align: center;
	line-height: .84rem;
	border: .03rem solid #e0e0e0;
	border-radius: .1rem;
	float: left;
	margin-bottom: 0.4rem;
	margin-right: 0.4rem;
}
/* 滚动条隐藏 */
::-webkit-scrollbar{
	height: 0;
}

